* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

nav {
  padding: 25px;
  margin: auto;
  margin-left: -40px;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 12;
}


#littleOscar{
  padding-top: 150px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-family: 'Gruppo', sans-serif;
  font-weight: bolder;
  font-size: 22px;
}

nav a:hover {
  border: 1.5px solid white;
  transition-duration: 100ms;
}

li {

  display: inline;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
}

main {
  margin: 0% 10%;
}

#name-text {
  padding-right: 90px;
  margin-right: 2%;
  padding-left: -3%;
  margin-top: 25px;
  width: 250;
} 


.box {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.cell{
  width: 60%;
  margin-top: 15px;
  margin-bottom: 50px;  
}

#littleOscar {
  width: 80%;
  margin: auto;
  justify-content: right;
}

#recordVideo{
  display: flex;
  justify-content: center;
}

footer {
  padding-top: 20px;
  margin: auto;
  text-align: center;
  background-color: black;
  width: 100%;
}

footer img {
  width: 2%;
  padding: 7px;
}

footer h6 {
  font-family: 'Gruppo', sans-serif;
  font-size: 12px;
  padding: 7px;
}