* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

nav {
  padding: 25px;
  margin: auto;
  margin-left: -40px;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 12;
}


nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-family: 'Gruppo', sans-serif;
  font-weight: bolder;
  font-size: 22px;
}

nav a:hover {
  border: 1.5px solid white;
  transition-duration: 100ms;
}

li {

  display: inline;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
}

main {
  margin: 0% 10%;
}


h4 {
  font-family: 'Jost', sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-size-adjust: auto;
  font-weight: 900;
} 


.like-section {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-cell{
  justify-content: left;
  margin-right: 5%;
  padding-top: 2%;
}

.like-p {
  padding-bottom: 5%;
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: justify;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}



.section-title {
  font-family: 'Gruppo', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color:black;
  width: fit-content;
  padding: 5px;
} 

video{
  width: 800px;
  pointer-events:none;
}


footer img {
  width: 2%;
  padding: 7px;
}


.box {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.cell{
  width: 50%;
  margin: auto;
  padding-top: 2%;
}

p {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  color: #020c3d;
}

footer {
  padding-top: 20px;
  margin: auto;
  text-align: center;
  background-color: black;
  width: 100%;
}

footer img {
  width: 2%;
  padding: 7px;
}

footer h6 {
  font-family: 'Gruppo', sans-serif;
  font-size: 12px;
  padding: 7px;
}


